
.icon-minus:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-pin:before { content: '\e802'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-subway:before { content: '\f239'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-twitter:before { content: '\f302'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-vimeo:before { content: '\f30f'; } /* '' */